DATABASE_URL=mysql+mysqlconnector://root:@localhost:3306/your_database_name
SECRET_KEY=your_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

AWS_ACCESS_KEY=your_aws_access_key
AWS_SECRET_KEY=your_aws_secret_key
AWS_REGION=your_aws_region

MAIL_USERNAME=your_username
MAIL_PASSWORD=your_password
MAIL_FROM=your_email@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

AWS_SNS_VERIFY_SSL=false
DEV_SAVE_OTP_ON_SMS_FAIL=true
LOG_OTP_IN_DEV=true

ENVIRONMENT=development
# ENVIRONMENT=production